*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container{
    display: flex;
    background: yellow;
    justify-content: space-between;/*se alinhar no começo do eixo(start)*/
    flex-flow: row nowrap ;
    height: 800px;
    align-items: flex-start;
}

.flex-item{
    /* flex-grow: 1;
    flex-basis: 320px;
    flex-shrink: 1; */
    /* flex: 1 1 320px; /* flex grow | shrink | basis*/
    /*height: 200px; */
    width: 100%;
    background: red;
    color: white;
}

.flex-item:nth-child(3){
    align-self: flex-end;
}